a {
    list-style: none;
    text-decoration:none;
    color: deeppink;
    font-size: 32px;
    margin-right: 20px;
   
}
.nav {
    background-color: black;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
}
.nav a:hover {
    background-color: deeppink;
    color: black;
}
@media screen and (max-width: 700px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 700px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      display: block;
      text-align: left;
      float: none;
    }
  }
 